<!DOCTYPE html>
<html class="has-background-black-ter has-text-white-ter">
  <head>
    <title>OnebitMessenger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-widthm initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="has-text-white-ter">
    <%= render 'layouts/nav' %>
    <section class="section">
      <div class="container">
        <% if alert %>
          <div class="notification is-danger"><%= alert %></div>
        <% elsif notice %>
          <div class="notification is-success"><%= notice %></div>
        <% end%>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
